//Icons
.icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

//Icon CSS
.icon-css-arrow{
   display: inline-block;
   border-top: 10px transparent solid;
   border-left: 20px #fff solid;
   border-bottom: 10px transparent solid;
}

//Icon Glyphs
[class*='icon-']:before{
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow:before{content:'\0041';}
.icon-quote:before{content:'\0042';}
.icon-facebook:before{content:'\0043';}
.icon-instagram:before{content:'\0044';}
.icon-youtube:before{content:'\0045';}
