//Branding Colors
$primary-color: #00305F;
$secondary-color: #E9EFF2;
$font-color: #00305F;
$header-font-color: #00305F;

//Gray Colors
$light-gray: #E9EFF2;
$gray: #939597;
$medium-gray: #9b9b9b;
$dark-gray: #222222;


//Fonts
$font-light: 'Dinot Light';
$font-regular: 'Dinot Regular';
$font-medium: 'Dinot Medium';
$font-bold: 'Dinot Bold';
$font-black: 'Dinot Black';

//Directory
$base-url: '..';